@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal-Regular.otf");
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}